a:link { 
	color: #004DEA; 
	text-decoration: underline
}

a:visited { 
	color: #003399; 
	text-decoration: underline
}

a:hover { 
	color: #FF6600; 
	text-decoration: none
}

.first,.menu {
	background: #C8E097; 
}

input,textarea {
	border-style: dotted;
	background: #F0F0F0;
}

.button {
	border: dotted #C8E097;
	background: #F0F0F0;
}

.sec,.conf {
	background: #F0F0F0;
}

.err {
	font-weight: bold;
}

.desc {
	font-style: italic;
}

TH {
	text-align: left;
	background: #C8E097;
}

BODY {
	font-family: arial, sans-serif;
	font-size: 10pt;
	background: #FFFFFF;
	scrollbar-arrow-color: #444444;
	scrollbar-face-color: #C8E097;
	scrollbar-base-color: #C8E097;
	scrollbar-shadow-color: #C8E097;
	scrollbar-dark-shadow-color:#C8E097;
	scrollbar-highlight-color: #C8E097;
	scrollbar-3dlight-color: #444444;
}
