<?xml version="1.0" encoding="iso-8859-2"?>
<menu>
<sec tit="Developers" id="dev">
	<sec id="authors" tit="List of authors" ext=".html"/>
	<sec id="history" tit="Development history" ext=".html"/>
	<sec id="source" tit="Source documentation">
		<sec tit="Virtual Qmail" id="vq/html"/>
		<sec tit="Vqwww" id="vqwww/html"/>
		<sec tit="Vqwww: freemail" id="freemail/html"/>
		<sec tit="Vqwww: hosting" id="hosting/html"/>
	</sec>
</sec>
<sec tit="Documentation" id="docs">
	<sec tit="Introduction" id="intro" ext=".html"/>
	<sec tit="Summary of changes" id="changes" ext=".html"/>
	<sec tit="Installation" id="install" ext=".html"/>
	<sec tit="Upgrade" id="upgrade" ext=".html"/>
	<sec tit="Configuration" id="conf">
		<sec tit="Configuration files" id="files" ext=".html"/>
	</sec>
	<sec tit="License" id="license" ext=".html"/>
	<sec tit="Supported systems" id="ports" ext=".html"/>
	<sec tit="Things to do" id="todo" ext=".html"/>
	<sec tit="Mailing lists" id="mailing_lists" ext=".html">
		<sec tit="v-q-misc archive" url_sf="/mailarchive/forum.php?forum=v-q-misc"/>
	</sec>
</sec>
<sec tit="SourceForge" id="sf">
	<sec tit="Forums" url_sf="/forum/?group_id=87916"/>
	<sec tit="Tracker" id="tracker">
		<sec tit="Bugs" url_sf="/tracker/?group_id=87916&amp;atid=584853"/>
		<sec tit="Support request" url_sf="/tracker/?group_id=87916&amp;atid=584854"/>
		<sec tit="Patches" url_sf="/tracker/?group_id=87916&amp;atid=584855"/>
		<sec tit="Feature request" url_sf="/tracker/?group_id=87916&amp;atid=584856"/>
	</sec>
	<sec tit="Mailing lists" url_sf="/mail/?group_id=87916"/>
</sec>
<sec tit="Download files" url_sf="/project/showfiles.php?group_id=87916"/>
<sec tit="Site map" id="site_map" ext=".html"/>
</menu>
